body {
    background-image: url('../images/trivia-background.jpg');
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
}

.wrapper {
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
    
}

header {
    
    padding: 80px;
    color: orange;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 80px;
}

h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

section {
    padding: 30px;
}

